footer p {
  width: max-content;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 2rem;
  margin-top: auto !important;
}
