<div class = "container d-flex flex-md-row flex-column m-auto">
  <div class = "col-md-9 col-12 m-md-3">
    <main>
      <div class="my-4">
        <h3>Esempio</h3>
      </div>
      <div>
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor venenatis enim. Vestibulum venenatis semper sapien sed facilisis.
          Praesent iaculis risus quis nulla mollis ornare. Praesent lacinia, ex nec blandit imperdiet, enim tortor lacinia sapien, non egestas enim
          nunc vel sapien. Sed in iaculis quam, at euismod tellus. Duis imperdiet auctor tortor, eu condimentum erat commodo quis. Donec eu lorem
          facilisis magna eleifend dignissim. Sed vulputate lectus et diam pulvinar, vitae mattis mauris auctor. Suspendisse eget placerat odio, vel
          venenatis tortor. Nulla hendrerit porta tortor ut mollis. Nam magna libero, ornare et libero consequat, ultricies iaculis nibh. Phasellus ut
          libero non nibh porta tincidunt non sit amet metus. Donec vestibulum tellus non luctus luctus. Cras vehicula hendrerit ante, efficitur
          vestibulum erat convallis id. Morbi venenatis porttitor imperdiet.

          Morbi convallis velit a lacus fringilla sodales. Aenean rutrum lectus ac purus consectetur vestibulum. Ut maximus metus erat. Pellentesque a
          lorem vel nisi tempus porta. Nulla eu nisi quis nisl posuere rutrum id quis augue. Quisque viverra lorem non dolor blandit ultricies. Proin
          non nibh eu sem vestibulum accumsan et non magna. Pellentesque molestie dui sed quam eleifend molestie.

          Aliquam libero sem, maximus vel ligula non, dictum tincidunt ante. Proin hendrerit eros vulputate, ornare purus a, molestie velit. Maecenas
          pulvinar sed eros et aliquet. Morbi dolor est, varius quis auctor nec, porta sed libero. Maecenas consectetur libero rhoncus, pulvinar augue
          quis, ultrices quam. Curabitur nunc nulla, mattis congue tellus eu, imperdiet aliquam nisl. Integer pharetra sem vitae ex semper posuere.
          Proin ullamcorper congue lectus, id sodales eros sagittis vitae. Nam et lacus molestie, fermentum justo imperdiet, tincidunt neque.

          Integer lacinia felis eu nulla accumsan luctus et id lacus. In eu orci massa. Nulla sollicitudin sem sit amet mauris vulputate ultricies.
          Mauris aliquet felis vitae velit facilisis finibus quis vel nisl. Sed ac interdum. </p>
      </div>
    </main>
  </div>
  <div class = "col-12 col-md-3">
    <aside>
      <section class="d-flex justify-content-center flex-column align-items-center m-3">
        <img width="200" height="200" src =
          "https://media.istockphoto.com/id/491520707/photo/sample-red-grunge-round-stamp-on-white-background.jpg?s=612x612&w=0&k=20&c=FW80kR5ilPkiJtXZEauGTghNBOgQviVPxAbhLWwnKZk=">
        <hr class="w-100">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis justo sagittis, condimentum ligula vel, dapibus magna. Fusce
            elementum, metus nec ultrices pretium, orci purus semper orci, sed suscipit ligula diam non elit. Proin tristique ullamcorper magna vitae
            varius. Proin a bibendum ante, sit amet blandit eros. Vivamus elementum auctor lectus a tristique. Sed quis aliquet ex, nec vulputate
            massa. Nullam luctus mauris in viverra euismod. Nullam consequat gravida metus. Donec non mi tincidunt, efficitur orci at, lacinia augue.
            Sed posuere ultricies enim, non volutpat purus accumsan a. Sed interdum vel urna non mattis. </p>
      </section>
    </aside>
  </div>
</div>
